//**********font
$font-size: 20px;

$font-text: 'PT Sans', sans-serif;
$font-title: 'Bebas Neue', Arial, sans-serif;

//**********colors
$blackblue: #42567A;
$blue: #3877EE;
$pink: #EF5DA8;
$light: #F4F5F9;

$mq-xl: 1440px;
$mq-xs: 320px;